{% trans_default_domain "footer" %}

<div class="container">
    <div class="grid-0">
        <div class="col-one-whole">
            <footer class="footer footer-{{type}}">
                {% if type == "complete" %}
                <div class="grid-0">
                    <div class="footer_link-block col-one-whole large-col-two-thirds">
                        <a rel="nofollow" class="footer_link" href="{{ path('about') }}">{{ 'about'|trans }}</a>
                        <a class="footer_link" href="http://blog.selltag.com">{{ 'blog'|trans }}</a>
                        <a rel="nofollow" class="footer_link" href="{{ path('terms') }}">{{ 'termsPrivacy'|trans }}</a>
                        <a class="footer_link" href="http://ayuda.selltag.com/">{{ 'faq'|trans }}</a>
                        <div class="footer_link-block_social">
                            <a rel="nofollow"  class="footer_link-social lnk-social" href="http://www.twitter.com/selltag" target="_blank" title="{{ 'follow_us.twitter'|trans }}">
                                <i class="icon-twitter icon-2x"></i>
                            </a>
                            <a rel="nofollow" class="footer_link-social lnk-social" href="http://www.facebook.com/selltag" target="_blank" title="{{ 'follow_us.facebook'|trans }}">
                                <i class="icon-facebook icon-2x"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-one-whole {% if type == "complete" %}large-col-one-third{% endif %}">
                        <p class="footer_copy">
                            © {{ 'rightsReserved'|trans({'%year%': "now"|date("Y") }) }}
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</div>
