{% extends "LeonardoBundle::base_styleguide.html.twig" %}
{% trans_default_domain "styleguide" %}

{% block title %}{{ 'styleguide.title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <h2 class="styleguide-component-main-title">Tarjetas de Producto</h2>
    </div>

    <div class="row">
        <div class="grid-20">
            <div class="col-one-quarter">
                {{ macros.styleguide_component('product-card', 'En Borrador', {
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 0,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-one-quarter">
                {{ macros.styleguide_component('product-card', 'Disponible', {
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 1,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-one-quarter">
                {{ macros.styleguide_component('product-card', 'Vendido', {
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 2,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-one-quarter">
                {{ macros.styleguide_component('product-card', 'Nuevo', {
                    'is_new' : true,
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 2,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-one-quarter">
                {{ macros.styleguide_component('product-card', 'Con bajada de precio', {
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": 700,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 1,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <h2 class="styleguide-component-main-title">Tarjetas de Producto, en formato lista</h2>
    </div>

    <div class="row">
        <div class="grid-20">
            <div class="col-two-thirds theme-gray">
                {{ macros.styleguide_component('product-card', 'En Borrador', {
                    'list_view': true,
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 0,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "Madrid",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-two-thirds theme-gray">
                {{ macros.styleguide_component('product-card', 'Disponible, sin ciudad', {
                    'list_view': true,
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 0,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
            <div class="col-two-thirds theme-gray">
                {{ macros.styleguide_component('product-card', 'Nuevo', {
                    'list_view': true,
                    'is_new': true,
                    'product'     : {
                        "id": 26315,
                        "name": "MacBook Pro 13''",
                        "description": "MacBook Pro de 13\". Intel Core 2 Duo a 2,66 GHz, 4 GB DDR3 y 320 GB de disco duro. Tarjeta gr\u00e1fica NVIDIA GeForce 320M.\nIncluye cargador y CDs originales as\u00ed como un pa\u00f1o de micro fibras tambi\u00e9n original Apple.\nInstalada la \u00faltima versi\u00f3n de OS X (Yosemite)",
                        "price": 580,
                        "old_price": null,
                        "currency": "EUR",
                        "country_code": "ES",
                        "views":83,
                        "status": 0,
                        "main_photo": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/products\/original\/63834812-F89F-471B-885C-60B37A2696F1.jpg",
                        "photo_width": "600px",
                        "photo_height": "450px",
                        "user": {
                            "id": 48715,
                            "email": "kamemail@gmail.com",
                            "user_profile": {
                              "name": "Dani",
                              "gender": "male",
                              "city": "",
                              "description": "",
                              "vanity_url": null,
                              "avatar": "https:\/\/stpictures.s3-eu-west-1.amazonaws.com\/users\/original\/DBD71598-2F17-4F77-B8B6-1ABADA6F7798.jpg",
                              "colour": "#3CA4F0",
                              "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715"
                            },
                        },
                        "url": "http:\/\/local.selltag.com\/app_dev.php\/users\/48715\/macbook-pro-13-555a3d7a3350a"
                    }
                }) }}
            </div>
        </div>
    </div>

{% endblock %}
